

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-image: url("../img/g.jpg");
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    margin: 0;
    overflow: hidden; 
}
.container {
    max-width: 1200px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%; /* Ancho completo del viewport */
    height: 80px; 
    display: flex;
    justify-content: space-between;
    align-items: center; 
    background-color: hsla(0, 3%, 7%, 0.973); 
    padding: 0 20px; 
    box-shadow: 0 2px 5px #969292c5; 
}

.menu a{
    color: #e7dcdc;
}

.logo {
    color: #dfd9d9;
    font-size: 25px;
    font-weight: 800;
    text-transform: uppercase;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 20px;
    color: #000;
    display: block;
    padding: 20px;
    font-weight: 600;
}

.menu .navbar ul li a:hover {
    color: #ff5900;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-content {
    text-align: center;
    padding: 50px 0; /* Ajustar el padding según sea necesario */
}

.header-content h1 {
    font-size: 75px;
    line-height: 80px;
    color: #f9fafc;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.header-content p {
    font-size: 16px;
    color: #c5c5c5;
    padding: 0 0px; /* Ajustar el padding según sea necesario */
    margin-bottom: 25px;
}

.btn-1 {
    padding: 15px 20px;
    background-color: #ff6600;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    border-radius: 35px;
}

.btn-1:hover {
    background-color: #f88a40;
    transition: .3s;
}



.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 20px;
    color: #a3a1a1;
    display: block;
    padding: 20px;
    font-weight: 600;
}

.menu .navbar ul li a:hover {
    color: #f16215;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-content {
    text-align: center;
    padding: 50px 0; /* Ajustar el padding según sea necesario */
}
.header-content h1 {
    font-size: 75px;
    line-height: 80px;
    color: #1d1e1f;
    text-transform: uppercase;
    margin-bottom: 35px;
    text-shadow: 
        0 0 5px #dbd9d9,   /* Sombra blanca con desenfoque */
        0 0 10px #fff,  /* Sombra blanca más grande con desenfoque */
        0 0 15px #fff,  /* Sombra blanca aún más grande con desenfoque */
        0 0 20px #8c8f96; /* Sombra azul para el borde iluminado */
}


.header-content p {
    font-size: 16px;
    color: #f1efef;
    padding: 0 0px; /* Ajustar el padding según sea necesario */
    margin-bottom: 25px;
}

.btn-1 {
    padding: 15px 20px;
    background-color: #e7a10b;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    border-radius: 35px;
}

.btn-1:hover {
    background-color: #3f5c3c;
    transition: .3s;
}

.for {
    height: 60vh; /* Ajusta la altura según tus necesidades */


}
